body {
    font-family: 'PT Serif', serif;
}

h1 {
    font-family: 'Lobster', cursive;
}

p {
    font-size: 20px;
}

a:hover {
    text-decoration-color: #C8102E;
    color: #C8102E;
}

.btn-outline-primary {
    border-color: #012169;
    color: #012169;
}

.btn-outline-primary:hover {
    background-color: #012169;
    border-color: #012169;
}

.btn-outline-primary > i {
    margin-left: 5px;
}

.navbar {
    margin-top: 5px;
    background-color: #012169 !important;
    color: white;
    padding: 0;
}

.navbar-toggler {
    color: white !important;
    margin: 8px;
}

.nav-link {
    color: white !important;
    text-align: center;
}

.nav-link:hover {
    background-color: #011646;
}

.img-link {
    max-width: 150px;
}

.img-link:hover {
    opacity: 0.5;
}

.hr-half {
    width: 50%;
}

.modal-header {
    background-color: #012169;
    color: white;
}

.modal-header .close {
    color: white;
}

.modal-body {
    padding: 0;
}

/* header */

.header__hero {
    padding-top: 75px;
}

.header__title {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #012169;
    color: white;
}

/* body */
.card {
    border: none;
}

.accordion-header-btn {
    color: white;
    text-align: left;
    background-color: #C8102E;
    border-top-color: white;
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-header-btn:hover {
    background-color: #880b1f;
    color: white;
}

.accordion-header-btn > h5 {
    margin-bottom: 0;
}